<div class="card-table">

  <div class="card-table__header">
    <h2 class="card-tasks__nav-item--active">Grading Scheme</h2>
  </div>

  <div class="card-table__body">
    <table class="table">
      <thead>
      <tr>
        <th rowspan="2">Participant Name</th>
        <th colspan="4">Database</th>
        <th colspan="4">Java</th>
        <th colspan="4">Javascript</th>
        <th colspan="4">Html & Css</th>
        <th rowspan="2">Final Average</th>
      </tr>
      <tr>
        <th title="Attendance">Attendance</th>
        <th>Home Tasks</th>
        <th>Exam Test</th>
        <th>Final Score</th>
        <th>Attendance</th>
        <th>Home Tasks</th>
        <th>Exam Test</th>
        <th>Final Score</th>
        <th>Attendance</th>
        <th>Home Tasks</th>
        <th>Exam Test</th>
        <th>Final Score</th>
        <th>Attendance</th>
        <th>Home Tasks</th>
        <th>Exam Test</th>
        <th>Final Score</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Hayk</td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td>Empy</td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
