<nav class="sidebar">
  <img class="sidebar__logo" src="assets/images/logo.png" alt="Logo" height="35" width="35">
  <a class="active" href="#">
    <svg  class="sidebar__icon" viewBox="0 0 448 512" width="35" height="40">
      <use xlink:href="assets/images/core.svg#user"></use>
    </svg>
  </a>
  <a href="#">
    <svg  class="sidebar__icon"  viewBox="0 0 640 512" width="35" height="28">
      <use xlink:href="assets/images/core.svg#cloud_download"></use>
    </svg>
  </a>
  <a href="#">
    <svg  class="sidebar__icon"  viewBox="0 0 496 512" width="31" height="32">
      <use xlink:href="assets/images/core.svg#accounting"></use>
    </svg>
  </a>
  <a href="#">
    <svg  class="sidebar__icon"  viewBox="0 0 512 512" width="35" height="35">
      <use xlink:href="assets/images/core.svg#announcement"></use>
    </svg>
  </a>
  <a href="#">
    <svg  class="sidebar__icon"  viewBox="0 0 512 512" width="35" height="35">
      <use xlink:href="assets/images/core.svg#area-chart"></use>
    </svg>
  </a>
  <a href="#">
    <svg  class="sidebar__icon"  viewBox="0 0 448 512" width="35" height="40">
      <use xlink:href="assets/images/core.svg#book"></use>
    </svg>
  </a>
</nav>
